<div class="about">
  <h1 style="color: #673ab7">About FlySky</h1>
  <p>
    FlySky is India’s largest online flight ticket booking platform. that has transformed flight 
    travel in the country by bringing ease and convenience to millions of Indians who travel using
    flights. Founded in 2019, FlySky is part of India’s leading online travel company.
    By providing widest choice, superior customer service, lowest prices and unmatched benefits,
    FlySky has served over 2 million customers. FlySky has a global presence with operations across
    Indonesia, Singapore and Malaysia apart from India.
  </p>
  </div>