.mat-raised-button{
    margin: 20px;
    }

.tktForm{
    margin-top: 0px;
    
    background-image: url('C:\Users\lenovo\Desktop\Fly\src\assets\images\jeshoots-com-722888-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
} 
.search{
    padding:120px 5% 10px 5%;
    
}