<mat-toolbar color="primary" class="fixed-navbar mat-elevation-z50">
  <mat-toolbar-row>
    
     <span>FlySky</span>
     <!-- <img src="/src\assets\images\logo.jpg" alt="FlySky" /> -->
     <span class="welcome">welcome:{{username}}</span>
     <span class="spacer"></span>
     <a  mat-button  routerLink="/search">Book Tickts</a>
     <a  mat-button  routerLink="/About">About Us</a>
     <a  mat-button  routerLink="/Help">Help</a>
     <a  mat-button  routerLink="/Signin">Singin</a>
     <a  mat-button  routerLink="/Signup">Signup</a>
     <a  mat-button  routerLink="/Signin">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
