 .signin-card{
    
    width: 400px;
    height: 300px; 
    margin:50px;
    background-color:transparent;
    background-image:url('C:\Users\lenovo\Desktop\Fly\src\assets\images\signin3.jpg'); 
    }
    

 .form{
    text-align: -webkit-center;
    background-image: no-repeat;
    /* background-image:url('/src/assets/images/signin3.jpg');  */
} 

 /* .mat-form-field{
  color:purple;
}  */

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 30%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .mat-raised-button{
    margin-top: 0px;
  }
  .Signup{
    margin-bottom: 50px;
  }

/*   
  .example-right-align {
    text-align: right;
  }
   */
  /* input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
   */
  /* input.example-right-align {
    -moz-appearance: textfield;
  } */
  /* .example-button-row button,
.example-button-row a {
  margin-right: 8px;
  
} */
/* .mat-form-field{
  color:black;
} */
  