.invalid-feedback{ color:red;}
.signup-container{
display: flex;
flex-direction: column;
}

.signup-container > * {
width: 100%;
}
.form{
width:70%; margin:auto;
background-image: url("C:\Users\lenovo\Desktop\Fly\src\assets\images\signin2.jpg"); 
}

.rdnbrn{ margin:0px 3%}

/* .mat-raised-button{
    
} */
.signup-submit{
    text-align:center;
    margin-top: 5px;
}
.matcard{
    background-color: transparent;
}
